ion-menu-button {
  color: var(--ion-color-primary);
}

.panel--merchant {
  margin-top: 8rem;

  .panel--header {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem 0;
    padding: 0 1rem;

    h3 {
      margin-bottom: 2rem;
    }
  }

  ion-label{
    color: var(--ion-color-tertiary);
    margin-bottom: 1rem;
    display: block;
    cursor: pointer;
  }
  .item-input,.item-select{
    border: 1px solid var(--ion-color-secondary-tint);
    border-radius: .2rem;
  }

  .panel--actions {
    display: flex;
    align-items: center;

    .panel--button {
      width: 120px;
      height: 40px;
      margin-right: 10px;
      font-size: 1rem;
      text-align: center;
      border-radius: .2rem;
      background-color: var(--ion-color-primary-contrast);
      color: var(--ion-color-secondary-tint);
      border: 1px solid var(--ion-color-secondary-tint);
    }

    .button--primary {
      background-color: var(--ion-color-primary);
      border:1px solid var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }

}


@media all and (min-width: 1200px) {
  .panel--merchant {
    margin:5rem 0 3rem;
    padding-top: 3rem;

    .panel--header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 4%;
      padding-right:0;


      h3 {
        margin: 0;
      }
    }
    .loader-panel{
      display: flex;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: var(--ion-color-primary-contrast-low-opacity);
      z-index: 1000;
      align-items: center;
      justify-content: center;
      padding-bottom: 2rem;
    }
    .panel--button{
      width: 150px;
      height: 40px;
    }

  }


  .panel--form-inner {
    padding-right: 18%;
    padding-left:3%;
  }
}


ion-content ion-toolbar {
  --background: transparent;
}
